body {
  width: 100%;
  height: 100%;
  background-color: rgb(234, 241, 241);
  
}
.chat_open_button {
  position: fixed;
  bottom: 15px;
  right: 27px;
  background-color: rgb(54, 94, 121);
  width: 20%;
  cursor: pointer;
  z-index: 1001;
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
