.chat {
  position: fixed;
  bottom: 15px;
  right: 27px;
  background-color: rgb(245, 247, 247);
  width: 20%;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
.chat_user {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid grey;
}
.chat_user > .MuiAvatar-root {
  width: 25px;
  height: 25px;
}
.chat_user > h4 {
  font-weight: 500;
  font-size: 16px;
  margin-right: 50px;
  margin-left: 10px;
}
.chat_user > p {
  font-size: 13px;
}
.chat_list_top {
  background-color: rgb(54, 94, 121);
  color: white;
  padding: 10px;
}
.chat_search {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 94, 121);
}
.chat_search > input {
  border-radius: 10px;
  height: 24px;
  flex: 1;
  border: 0.3px solid grey;
  outline: none;
  padding: 3px;
}
.chat_search > .MuiSvgIcon-root {
  margin-left: 5px;
  color: rgb(204, 203, 203);
  cursor: pointer;
}
.display_chat_none {
  display: none;
}
.display_chat_block {
  display: block;
}
